<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <title>Logged In</title>
      <link rel="stylesheet" type="text/css" href="../css/styles.css" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="../js/index.js"></script>
   </head>
   <body>
      <div id="container">
         <h1 id="header_row">Hello <%= DATA.first_name %></h1>
         <a href="/signout/<%= DATA.id %>"> Sign Out </a>
         <a href="/"> Home </a>
      </div>
   </body>
</html>
