<!DOCTYPE html>
<html lang='en'>
    <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>  </title>
    <link rel='stylesheet' type='text/css' href='../css/styles.css'>
    <!-- <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script> -->
    <!-- <script src='../js/index.js'></script> -->
    </head>
<body>
    <div id='container'>

        <div id=''>
        <h1> Hello World </h1>
        <a href="/cat/cat"><img src="/images/cat.png" alt="A cat"></a>
        <a href="/cat/Doberman-Pinscher"><img src="/images/Doberman-Pinscher.png" alt="A Doberman"></a>
        <a href="/">Home</a>
        </div>

    </div>

</body>
</html>