<!DOCTYPE html>
<html lang='en'>
    <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>  </title>
    <link rel='stylesheet' type='text/css' href='css/styles.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <script src='js/index.js'></script>
    </head>
<body>
    <div id='container'>

        <div id='main'>
        <h1> Hello World </h1>
        <div id="errors">
            <% for (const x in errors_from_db) { %>
                <span style="color: red;"><%= err[x] %></span>
                <hr>
            <% } %>
        </div>
        <form action='/users' method='post'>
            Name: <input type='text' name='name'>
            Age: <input type='text' name='age'>
            <input type='submit' value='Create User'>
        </form>

        <% for (const x in users) { %>
            <h3>Name: <%= users[x].name %></h3>
            <h3>Age: <%= users[x].age %></h3>
            <hr>
        <% } %>

        </div>

    </div>

</body>
</html>