* {
    margin: 0 auto;
    background-color: rgb( 69 69 69);
    color: #FFF;
    vertical-align: top;
    box-sizing: border-box;
    font-family: monospace;
    border: 1px solid green;
}
#container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
    align-items: center;
    padding: 0.25em;
}

#header_row{
    /* grid-column-start: 1; 
    grid-column-end: -1; end of the column */
    grid-column: 1 / -1; /* short hand for above code */
}

#form_wrap{
    display: flex;
}