* {
    margin: 0 auto;
    background-color: rgb( 69 69 69);
    color: #FFF;
    vertical-align: top;
    box-sizing: border-box;
    font-family: monospace;
    border: 1px solid green;
}
#container {
    padding: 1rem;
}
img{
    width: 30em;
    margin: 1em;
}
img:hover{
    cursor: pointer;
}