* {
    margin: 0 auto;
    background-color: rgb( 69 69 69);
    color: #FFF;
    vertical-align: top;
    box-sizing: border-box;
    font-family: monospace;
    border: 1px solid green;
}
#container {
    padding: 1rem;
}
#btn_holder{
    display: flex;
}
button{
    padding: .5em;
    border-radius: .5em;
}
#counter{
    text-align: center;
}
#plus_1{
    background-color: red;
}
#reset{
    background-color: green;
}